---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <!--<div class="author-logo">
      <span class="hover-message">Let's connect on LinkedIn!</span>
      <div class="cover-author-image">
        <a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      </div>-->
      <div class="author-name" style=" a, a:hover, a:focus, a:active {text-decoration: none; color: inherit;} "><a href="{{"/" | prepend: site.baseurl}}"><i class="fa fa-home" aria-hidden="true"></i>  {{site.author}}</a></div>
    </div>

  </header> <!-- End Header -->
  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tag_words = site_tags | split:',' | sort %}

  <section class="">
    <ul class="tags">
  <!--  cycles through tag list and creates header row of all tags used in site with accompanying per-tag counts...-->
    {% for this_word in tag_words %}
      <li ><a href="{{ site.url }}/tags/#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
    {% endfor %}
    </ul>
  </section>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Links</h3>
      <ul>
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://stackoverflow.com/users/{{ site.social-stackoverflow }}?tab=profile" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
        <li><a href="{{ site.url }}/feed.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
<!--  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign tag_words = site_tags | split:',' | sort %}

  <section>
    <h1>Tags in Blog</h1>
    <ul class="tags">
    {% for this_word in tag_words %}
      <li ><a href="#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
    {% endfor %}
    </ul>
    {% for this_word in tag_words %}
      <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
      {% for post in site.tags[this_word] %}
        {% if post.title != null %}
          <article class="post">
            {% if post.img %}
              <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
            {% else %}
            {% endif %}
            <div class="post-content">
              <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
              <p></p>
              <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
              <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 350 | divided_by: 350 | append: " minute read" }}{% endunless %}</span>
            </div>
          </article>   
        {% endif %}
      {% endfor %}
    {% endfor %}
  </section> -->
 {{ content }}
</div>
